
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(194, 194, 212);
}

.header {
    background-color: #07203f;
    padding: 50px;
    border-bottom:  1px solid grey;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nickname {
    color: #ffffff;
    font-weight: bolder;
    font-size: 36px;
}

.nav {
    display:flex;
    gap: 40px;
}

.nav a {
    font-family: "Inter", sent-serif;
    color:#ffffff;
    font-size: 36px;
}

.section {
    background-color: #07203f;
    min-height: calc(100vh - 144px);
    display: flex;
    align-items: center;
}

.text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
}

.text h1 {
    color:#D9D9D9;
    font-size: 64px;
    font-weight: 800;
    white-space: nowrap;
}

.button {
    background-color: #D9D9D9;
    color: #000000;
    font-family: "Inter", sans-serif;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
}

.button:hover {
    background-color: blue; 
    color: #D9D9D9;
}

.text p {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    color:#D9D9D9;
    font-weight: 400;
    line-height: 42.19px;
}

.image {
     max-width: 516px;
     aspect-ratio: 1 / 1; 
     border-radius: 50%; 
     overflow: hidden;
}

.profile_photo {
    object-fit: cover;
    height: 100%;
    width: 100%;
}