
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(194, 194, 212);
}

.header {
    background-color: #07203f;
    padding: 50px;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nickname {
    color: #ffffff;
    font-weight: bolder;
    font-size: 36px;
}

.nav {
    display:flex;
    gap: 40px;
}

.nav a {
    font-family: "Inter", sent-serif;
    color:#ffffff;
    font-size: 36px;
}

section {
    background-color: #07203f;
    min-height: calc(100vh - 144px);
    display: flex;
    align-items: center;
}

h1 {
    color:#D9D9D9;
    font-size: 64px;
}

.button {
    background-color: #D9D9D9;
    color: #000000;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

p {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    color:#D9D9D9;
}