body {
    box-sizing:border-box;
    display:block;
    margin: 8px;
}

.circle {
    width:300px;
    height:300px;
    border-radius:50%;
    background: salmon;

}

.box1 {
    height: 30px;
    width: 30px;
    background-color: seagreen;
    position:relative;
    top: 60px;
    left: 50px;
}

.box2 {
    height: 70px;
    width: 50px;
    background-color: skyblue;
    position: relative;
    left:130px;
}

.box3 {
    height: 20px;
    width: 200px;
    background-color: wheat;
    position: relative;
    top: 60px;
    left: 50px;

}