body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(194, 194, 212);
}

.header {
    background-color: rgb(13, 5, 59);
    padding: 50px;
    width: fit-content;
}

.container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 55px;
}

.nickname {
    color: azure;
    font-weight: bolder;
    font-size: large;
}

.nav {
    display:flex;
    gap: 55px;
}

.nav a {
    color:azure;
    font-size: medium;
}