
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sent-serif;
    background-color: rgb(194, 194, 212);
}

.header {
    background-color: #07203f;
    padding: 50px;
    width: fit-content;
    display: block;
}

.container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 55px;
}

.nickname {
    color: #ffffff;
    font-weight: bolder;
    font-size: 36px;
}

.nav {
    display:flex;
    gap: 40px;
}

.nav a {
    font-family: "Inter", sent-serif;
    color:#ffffff;
    font-size: 36px;
}

