.jew {
    background-image: url('../bg.jpg');
    min-height: calc(100vh - 144px);
    display: flex;
    align-items: center;
}

.jew__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.jew__text h1 {
    color:#333333;
    font-size: 72px;
    font-weight: 800;
    white-space: nowrap;
}

.jew__block {
    justify-content: space-between;
    display:flex;
    align-items: center;
}

